body {
	background-color: #F4F4F4;
}

.login .text-center {
	color: #888 ;
}

.login {
	width: 300px;
	margin: 100px auto;
}

.login input {
	margin-bottom: 10px;
}

.login .form-control {
	background-color: #EAEAEA;
}

.login .btn {
	background-color: #008DDA;
}


/* ------  Start dashboard page   ------  */




.home-stats .stat {
	padding: 20px;
	font-size: 15px;
	color: #FFF;
	border-radius: 10px;
}

.home-stats .stat span {
	display: block;
	font-size: 60px;
}

.home-stats .st-member {
	background-color: rgb(0,0,255);
}

.home-stats .st-pending {
	background-color: rgb(255,0,0);
}

.home-stats .st-livre  {
	background-color: rgb(84, 197, 18);
}

.home-stats .row {

	margin-left: 150px;
	margin-top: 50px;
	margin-right: -150px;
}

.home-stats h1 {
	margin-top: 30px;
}


/* ------  End dashboard page   ------  */

.main td {
	background-color: #FFF;
	vertical-align: middle !important;
}

.manage-livre img {
	width: 50px;
	height: 50px;
}

.main tr:first-child td {
	background-color: #333;
	color: #FFF;
	text-align: center;
}

.main btn {
	padding: 3px 10px;
}


a .btn {
	margin: 50 50;
	margin-top: 50px;
	margin-bottom: 50px;

}

.accepte {
	margin-left: 5px;
}